<b:style src="./view.css"/>
<b:isolate/>

<div class="stage">
  <div class="header">
    States: {childCount} (ignored: {ignoreCount})
  </div>
  <!-- <div class="xx" tabindex="1">
    <div class="yy" tabindex="1"/>
  </div> -->
</div>
