HTML,
BODY
{
  height: 100%;
  padding: 0;
  margin: 0;

  background: white;
  color: black;
  font-size: small;
  font-family: tahoma, arial, sans-serif;
}

.layout
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.sidebar
{
  border-right: 1px solid #888;
  width: 25%;
  overflow: auto;
}
.content
{
  flex: 1;
  overflow: auto;
  background: #F0F0F0;
}
