<b:style src="./layout.css"/>
<b:isolate/>

<div class="layout">
  <div class="sidebar">
    <!--{list}-->
  </div>
  <div class="content" style="background: {back}">
    <!--{backChooser}-->
    <!--{stage}-->
  </div>
</div>
