.button
{
  border-color: #3bafda;
  background-color: transparent;
  color: #3bafda;
}
.button_disabled,
.button_disabled:hover,
.button_disabled:active
{
  border-color: #D8EFF8;
  background-color: transparent;
  color: #CDEBF6;
}
