<b:style src="./window.css"/>
<b:isolate/>

<div class="window_wrapper">
  <div{ddtrigger|dragElement} class="window">
    <div{content|childNodesElement} class="content">
      <div{header} class="header">
        {title}
      </div>
    </div>
  </div>
</div>
