<b:style src="./panel.css"/>
<b:isolate/>

<div class="panel">
  <div class="header">hello</div>
  <div class="buttons">
    <b:include src="./button.tmpl"/>
    <b:include src="./button.tmpl"/>
  </div>
</div>
